[submodule "home/.emacs.d/rinari"]
	path = home/.emacs.d/rinari
	url = https://github.com/eschulte/rinari.git
[submodule "home/.oh-my-zsh"]
	path = home/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
