[user]
    name = Jason Marcell
    email = jmarcell@apple.com
[github]
    user = jasmarc
[color]
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    afrag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log -p
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ls = ls-files
    up = pull --rebase
[core]
    excludesfile = ~/.gitignore_global
[credential]
    helper = osxkeychain
[push]
    default = upstream
[branch]
    autosetuprebase = always
[merge]
    tool = opendiff
[mergetool]
    keepBackup = false
[rerere]
    enabled = true
[git-up "fetch"]
	prune = true
[git-up]
	post-hook = "git checkout develop 2>&1 >/dev/null; git branch --merged | grep -v '*' | xargs -n 1 git branch -d; git clean -df"
