[user]
	name = Jason Marcell
	email = jsnmrcll@amazon.com
[github]
	user = jmarcell
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	afrag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[alias]
	diff-inline = diff --color-words="[^[:space:]]|([[:alnum:]]|UTF_8_GUARD)+"
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log -p
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --branches
	ls = ls-files
	up = pull --rebase
	blame-histogram = "!f() { git ls-tree -r -z --name-only HEAD -- $1 | xargs -0 -n1 git blame --line-porcelain HEAD |grep	 \"^author \"|sort|uniq -c|sort -nr; }; f"

  # Fancy interactive add -p with preview
  fadd = "!f() { git status --short | fzf -m --ansi --preview 'git diff --color=always -- {2} || bat --color=always {2}' --preview-window=right:60% | awk '{print $2}' | xargs -o -n1 git add -p; }; f"

  # Fancy interactive reset -p with preview (unstage selected files)
  freset = "!f() { git diff --cached --name-only | fzf -m --preview 'git diff --cached --color=always -- {} || bat --color=always {}' --ansi --preview-window=right:60% | xargs -o -n1 git reset -p HEAD --; }; f"

  # Fancy interactive restore (discard local changes with confirmation)
  frestore = "!f() { git status --short | fzf -m --ansi --preview 'git diff --color=always -- {2} || bat --color=always {2}' --preview-window=right:60% | awk '{print $2}' | xargs -o -n1 git restore -p --; }; f"

[core]
	editor = nvim
	pager = delta --keep-plus-minus-markers
	excludesfile = ~/.gitignore_global
	attributesfile = ~/.gitattributes_global
	autocrlf = false
	whitespace = cr-at-eol
[credential]
	helper = osxkeychain
[push]
	default = upstream
[branch]
	autosetuprebase = always
[rerere]
	enabled = 0
[git-up "fetch"]
	prune = true
[git-up]
	post-hook = "git checkout develop 2>&1 >/dev/null; git branch --merged | grep -v '*' | xargs -n 1 git branch -d; git clean -df"
[url "git@github.com:"]
	insteadOf = https://github.com/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true	 # use n and N to move between diff sections

[merge]
	conflictstyle = diff3
[diff "java"]
	textconv = prettier --print-width 300
[diff "load_config_yaml"]
	textconv = python3 $HOME/.git.d/format.py
[diff]
	colorMoved = default
[pull]
	rebase = true
[rebase]
	autoStash = true
